*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#root {
    height: 100%;
    width: 100%;
}

html{
  background-color: rgb(21, 21, 21);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


div.btnContainer{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.openMenu{
  background-color: rgb(0, 185, 0);
}


.users{
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
.userCard{
  background-color: wheat;
  padding: 1rem;
  border-radius: 0.5rem;
  color: purple;
  /* width: 260px; */
  /* width: 280px; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 270px;
}
.userCard img{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.userCard h1{
  font-size: 35px;
  font-weight: 700;
}
.userCard h3{
  font-size: 18px;
  font-weight: 700;
}
.userCard p{
  font-size: 14px;
  font-weight: 400;
}

.buttons{
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}
button{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1) all;
}
button:active{
  scale: 0.93;
}
.delete{
  background-color: red;
}
.update{
  background-color: rgb(0, 185, 0);
}




.userCreateMenu{
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.51);
  backdrop-filter: blur(5px);
}
.userCreateMenu button.closeMenu{
  position: fixed;
  top: 5%;
  right: 5%;
  background-color: red;
  font-size: 22px;
  padding: 8px 15px;
}
.userCreateMenu form{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);

  background-color: rgb(42, 42, 42);
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.userCreateMenu form input{
  font-size: 16px;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.userCreateMenu form button{
  background-color: rgb(0, 185, 0);
}